# docker, podman, nerdctl, etc.
RUNTIME=podman

IMAGE_TAG='localhost/claude:v3.0.0'

AWS_REGION=us-east-1

# the AWS IAM Role ARN that Claude Code will use
AWS_IAM_ROLE=''

# optional: if the AWS_IAM_ROLE allows for it, you can specify a longer session lifetime
# AWS_SESSION_DURATION=43200

# determines whether we are making inference api calls to AWS Bedrock or Anthropic
CLAUDE_CODE_USE_BEDROCK=1

# optional: extra claude cli params
# CLAUDE_OPTIONS=''

# optional: if you want to use a custom application inference profile, pass its arn via ANTHROPIC_MODEL var
# ANTHROPIC_MODEL=''
